/*Header CSS Code */

#header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
  background-color: white;
}

#lefth{
  display: inline-flex;
  align-items: center;
  flex: 1 1;
}

#lefth p{
  color: mediumaquamarine;
}

.hlogo{
    margin-right: 15px;
}

#righth{
  display: inline-flex;
  flex: 1 1;
  min-height: 75px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 40px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}

li{
  margin-left: 25px;
}

li a{
  color: black;
}

/* Body CSS Code*/

#main{
  z-index: 5;
  padding-top: 75px;
}

#column{
width: 1240px;
display: flex;
justify-content: space-between;
margin-top: 45px;
border: 1px solid black
}

#large{
  width: 630px;
  border: 1px solid black;
  position: relative;
}

#medium{
  width: 300px;
  border: 1px solid black;
}

#small{
  width: 240px;
  border: 1px solid black;
}

.mother{
  border: 1px solid black;
}

.mimgtext{
  border: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  color: white;
}

.orca{
  border: 1px solid black;
}

.earth{
  border: 1px solid black;
}

.burger{
  border: 1px solid black;
}


.research{
  border: 1px solid black;
}

.rimgtext{
  border: 1px solid black;
}

.fbi{
  border: 1px solid black;
}

.cats{
  border: 1px solid black;
}

.brooklyn{
  border: 1px solid black;
}

.cookie{
  border: 1px solid black;
}

.news{
  border: 1px solid black;
}
