#header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: fixed;
  width: auto;
  height: 70px;
  border-bottom: 1px solid black;
}

.hlogo{
  float: left;
}

#lefth p{
  color: mediumaquamarine;
  margin: 20px 25px;
}

#lefth{

}

#righth{
  display: flex;
  justify-content: flex-end;
}

ul{
    list-style-type: none;
}

li a{
    margin-right: 20px;
    color: black;
}
