/*Header CSS Code */

#header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
  background-color: white;
}

#lefth{
  display: inline-flex;
  align-items: center;
  flex: 1 1;
  padding-left: 40px;
}

#lefth p{
  color: mediumaquamarine;
}

.hlogo{
    margin-right: 15px;
}

#righth{
  display: inline-flex;
  flex: 1 1;
  min-height: 75px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
}

li{
  margin-left: 25px;
}

li a{
  color: black;
}

/* Body CSS Code*/

#main{
  z-index: 5;
  padding-top: 75px;
  display: flex;
  justify-content: center;
}

#column{
  width: 1240px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

#large{
  width: 630px;
  display: flex;
  flex-wrap: wrap;
}

#medium{
  width: 300px;
}

#small{
  width: 240px;
}

.mainstory{
  display: block;
  width: 630px;
}

#stories{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 630px;
}

.story{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.mother .imgtext{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  height: 300px;
  width: 630px;
  display: block;
  font-size: 40px;
  text-align: left;
}

.imgtext{
  color: white;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.content{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.orca{
  margin-bottom: 50px;
}

.earth .imgtext{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  display: block;
}

.burger{
  margin-bottom: 50px;
}

.research .imgtext{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  height: 300px;
  display: block;
}

.fbi{

}

.cats .imgtext{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  height: 300px;
  display: flex;
}

.brooklyn{

}

.cookie{

}

.news{

}
